@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;            
}
body{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    font-family:'Alegreya Sans', sans-serif;
    font-weight: 600;
    font-size: 20px; 
    overflow-x: hidden;
    /* background-color:black ;          */
}

a{
    text-decoration: none;
}

/* ********* Navbar ******** */
header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    background: black;
    overflow-x: hidden;
}
header .logo{
    color: #ba000d;
    font-size: 35px;
    cursor: pointer;
}
header .nav-area{
    list-style: none;
}
header .nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}
header .nav-area li a{
    transition: all .3s ease 0s;
    color: #DDD;
}
header .nav-area li a:hover{
    color: #006C87;
}
header .btn-area {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background: #006C87;            
}


/* *********Sidebar Menu******** */

.main{
    position: relative;
    background-color: #DDD;
    /* height: 100vh; */
    width: 100%;
}

.nav {
    display: block;
    height: 100%;
    width: 0px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.nav a{
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: #ccc;
}

.nav a:hover{
     color:#fff;
     transition: 0.4s;
}

.nav .close{
    position:absolute;
    top: 10px;
    right:22px;
    margin-left: 50px;
    font-size: 30px;
}

.slide .bars{
    color:#000;
    font-size:30px;
}

#content{
    padding: 20px;
    transition: margin-left 0.5s;
    overflow: hidden;
    /* width: 100%; */
}

/* ************tags-section*************** */

#tags-section{
    background-color: rgba(122, 115, 115, 0.5);
    /* width: 100%; */
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
}

.tags >div{
    display: inline-block;
    font-size: .9rem;
    padding: 6px 8px;
    background-color: rgba(122, 115, 115, 0.6);
    color: #320;
    border-radius: 4px;
    margin: 3px;
    cursor: pointer;
}

.tags > div:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.tags div span {
    font-size: 20px;
    font-weight: bold;
    color: #1f1b11;
}



/* ***********videos-section***************** */

#videos-section {
    padding: 50px 0px;
}

#videos-section article{
    width: 386px;
    height: 355px;
    display: inline-block;
    margin-right: 12px;
    vertical-align: top;
}

.thums-container{
    width: 1280px;
    margin:70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.thums-container .thums-box{
    position: relative;
    width: 300px;
    height: 300px;
    /* background-color: #ffff00; */
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.thums-container .thums-box .imgBox{
    position: relative;
    overflow: hidden;
}

.thums-container .thums-box .imgBox img{
    max-width: 100%;
    transition: transform 1s;
    /* max-height: 100%; */
    /* background-size: cover; */
}

.thums-container .thums-box .details{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background:rgba(0, 0, 0, .8);
    transform:scaleY(0);
    transition:transform .5s;
}

.thums-container .thums-box:hover .details{
    transform:scaleY(1);
}

.thums-container .thums-box .details .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}

.thums-container .thums-box .details .content h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ff0;
}

.thums-container .thums-box .details .content p{
    margin: 10px 0 0;
    padding: 0;
}

.thums-container .thums-box:hover .imgBox img{
    transform: scale(1.2);
}



/* ***************footer*******************  */
/* ---------footer 영역----------- */
.footer {
    background: black;
    display: block;
    /* height: 100px; */
    width: 100%;
    /* position: absolute; */
    bottom:0px;
}

.footer .box {
    background: black;
    padding: 45px 0px 55px 0px;
    font-size: 15px;
    display: flex;
    width: 1080px;
    margin: 0px auto;
}

.foot-list {
    margin-right: 80px;
}

.foot-info {
    color: #707070;
    font-weight: 800;
}

.footer a {
    font-family: SpeedeeK, Malgun Gothic,'맑은 고딕', 
    Dotum,'돋움', Arial, sans-serif;
    color: white;
}

.footer .privacy {
    color: #ffff00;
}

.foot-sns {
    color: white;
    font-size: 40px;
    margin-left: auto;
}

/* ---------탑 버튼----------- */

.gotop-btn {
    width: 50px;
    height: 50px;
    position: fixed;
    cursor: pointer;
    right: 30px;
    bottom: 200px; /* 수정부분 06.10 */ 
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #1b1b1b;
    transition: 0.5s;
}

.gotop-btn i {
    font-size: 25px;
    cursor: pointer;
}